# ---------------------------------------------------------------------------
# .sqlcmd initialization file for sqlcmd

[vars]

[logger_root]
level: error
handlers: h1, h2

[logger_foo]
pattern: org.clapper
level: debug
handlers: h1

[logger_bar]
pattern: org.clapper.avsl
level: info
handlers: h2

[logger_baz]
pattern: grizzled.
level: error
handlers: h1

[handler_h1]
level: debug
class: FileHandler
path: /tmp/log

[handler_h2]
level: trace
class: ConsoleHandler
formatter: f1

[formatter_f1]
class: DefaultFormatter
format: [%Y/%M/%d %h:%m:%s:%S] (%l) %t

[formatter_f2]
class: org.example.avsl.MyFormatter

