[logger_root]
level: info
handlers: h1, h2

[logger_org_clapper]
pattern: org.clapper
level: debug
handlers: h1

[logger_org_clapper_avsl]
pattern: org.clapper.avsl
level: info
handlers: h1, h2

[logger_baz]
pattern: grizzled.
level: error
handlers: h1

[handler_h1]
level: debug
class: FileHandler
path: /tmp/log
formatter: f1
append: true

[handler_h2]
level: trace
class: ConsoleHandler
formatter: f2

[formatter_f1]
class: DefaultFormatter
format: [%Y/%m/%d %h:%m:%s:%S %z] (%l) %t
tz: PDT

[formatter_f2]
class: DefaultFormatter
format: [%Y/%m/%d %h:%m:%s:%S %z] (%l) %n: %t

#[formatter_f2]
#class: org.example.avsl.MyFormatter

